<div class="container">
  <div class="row">
    <div class="col-2 border-end">
      <ul class="list-group w-100 p-3">
        <h6 class="text-left">Projects list</h6>
        <li class="list-group-item border-0">
          <a routerLink="/create-project" routerLinkActive="active" ariaCurrentWhenActive="page"> New </a>
        </li>
        <li class="list-group-item border-0">
          <a routerLink="/view-project" routerLinkActive="active" ariaCurrentWhenActive="page">Project</a>
        </li>
        <li class="list-group-item border-0">Customer</li>
        <li class="list-group-item border-0">Suplies</li>
      </ul>
    </div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
