<div class="border-bottom">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" routerLinkActive="active fw-medium" routerLink="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-amd"
            viewBox="0 0 16 16"
          >
            <path
              d="m.334 0 4.358 4.359h7.15v7.15l4.358 4.358V0H.334ZM.2 9.72l4.487-4.488v6.281h6.28L6.48 16H.2V9.72Z"
            />
          </svg>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-between"
          id="navbarSupportedContent"
        >
          <h5 class="h5 text-capitalize m-0">Project management information</h5>

          <div class="d-flex align-items-center">
            <button class="btn btn-light mx-5 my-0">EN|FR</button>

            <ul class="list-group list-group-horizontal border-0">
              <li class="list-group-item border-0 rounded me-3">
                <a class="text-decoration-none" routerLinkActive="active fw-medium" routerLink="/help">Help</a>
              </li>
              <li class="list-group-item btn btn-light border-0 rounded">
                Logout
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
